{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}
  <div class="container">
    <form>
      <input type="text" name="movie_query" placeholder="Search for a movie" class="form-control">
      <input type="submit" value="Submit" class="btn btn-default">
    </form>
  </div>

  <!-- Popular movies section -->
  <h3>Popular movies</h3>
  <ul>
    {{ macro.displayMovieList(popular) }}
  </ul>
  <!-- Upcoming movies section -->
  <h3>Upcoming movies</h3>
  <ul>
    {{ macro.displayMovieList(upcoming) }}
  </ul>
  <!-- Now showing movies section -->
  <h3>Now Showing</h3>
  <ul>
    {{ macro.displayMovieList(now_showing) }}
  </ul>
{% endblock %}